<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap" rel="stylesheet" />
    <link rel="icon" href="../public/images/favicon.png" />
</head>
<body>
    <div class="container">

        <nav>
            <div class="nav-class">
                <h1><%= title %></h1>
                <p>Welcome to  <%= title %></p>
                <p><%= title %></p>
            </div>
        </nav>

        <aside>
            <li><a href="/">home</a></li>
            <li><a href="/students">students</a></li>
            <li><a href="/students/new">add</a></li>

            <li><a href="/orders">orders</a></li>
            <li><a href="/orders/new">add</a></li>
        </aside>

        <main>
            <h3><%= title %></h3>
            <form action="/students" method="post">
                <label for="fname">First Name:</label>
                <input type="text" name="fname" id="" value=""><br>
                <label for="lname">Last Name:</label>
                <input type="text" name="lname" id="" value=""><br>
                <label for="lname">Hobby:</label>
                <input type="text" name="hobby" id="" value=""><br>
                <input class="successb" type="submit" value="Update">
                <input class="errorb" type="submit" value="Cancel">
            </form>
        </main>

        <footer>
            <p>small project , <a href="/" target="/">HOME</a></p>
        </footer>
        
    </div>
    <!-- <script src="../public/javascripts/script.js"></script> -->
</body>
</html>
