<!DOCTYPE html>
<html lang="en">
  <head>
    
    <%- include('partials/head')  %> 

    <title><%= title %></title>

  </head>
  <body>
    <div class="container">

      <%- include('partials/nav')  %> 

      <%- include('partials/aside')  %> 
      
      <main>
        <div class="express">
          <div class="blue1"></div>
          <h1><%= title %></h1>
          <p><%= title %> myapp</p>
          <p><%= course %></p>
          <div class="blue2"></div>
        </div>
      </main>
      
      <%- include('partials/footer')  %> 
      
    </div>
  </body>
</html>
  