<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap" rel="stylesheet" />
  <link rel="icon" href="../public/images/favicon.png" />
</head>
<body>
  <div class="container">

    <nav>
      <div class="nav-class">
        <h1><%= title %></h1>
        <p>Welcome to <%= title %></p>
        <p>List of <%= title %></p>
      </div>
    </nav>

    <aside>
      <li><a href="/">home</a></li>
      <li><a href="/students">students</a></li>
      <li><a href="/students/new">add</a></li>
      
      <li><del><a href="/orders/">orders</a></del></li>
      <li><a href="/orders/new">add</a></li>
    </aside>

    <main>
      <ol>
        <div class="blue1"><p>List of <%= title %></p></div>

        <% if(ordersArray != undefined)  { %>
          <% for(let i = 0; i < ordersArray.data.length; i++) { %>
              <li>
                <p>
                  <b><%= ordersArray.data[i].customerId %></b>
                  <%= ordersArray.data[i].createdAt %> 
                  <%= ordersArray.data[i].updatedAt %>
                </p>
                <a class="success" href='/orders/update/<%= ordersArray.data[i].id %>'>Update</a>
                <a class="error" href='/orders/delete/<%= ordersArray.data[i].id %>'>Delete</a>
              </li>
          <% } %>
        <% } %>  

        <div class="blue2"></div>
      </ol>
    </main>

    <footer>
      <p>
        small project , <a href="/" target="/">HOME</a>
      </p>
    </footer>

  </div>
  <!-- <script src="../public/javascripts/script.js"></script> -->
</body>
</html>
        
