<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <div class="container">
      <header>
        <%- include('../partials/header', {title: 'Student insert'}) %>
        <p>Form</p>
      </header>

      <%- include('../partials/nav') %>

      <main>
        <form action="/students" method="post">
          <h3>Insert New Student</h3>

          <label for="first_name">First name</label>
          <input
            type="text"
            name="first_name"
            id="first_name"
            pattern="[α-ωΑ-ΩA-Za-z]{2,25}"
            placeholder="Insert firstname"
            required
          />

          <label for="last_name">Last name</label>
          <input
            type="text"
            name="last_name"
            id="last_name"
            pattern="[α-ωΑ-ΩA-Za-z]{2,25}"
            placeholder="Insert lastname"
            required
          />

          <label for="tuition_fees">Tuition fees</label>
          <input
            type="number"
            name="tuition_fees"
            id="tuition_fees"
            pattern="([0-9]*[.])?[0-9]+"
            placeholder="Insert tuition fees"
            required
          />

          <label for="discount">Discount</label>
          <input
            type="number"
            name="discount"
            id="discount"
            pattern="[0-9]"
            min="0"
            max="100"
            placeholder="Insert discount rate"
            value="0"
            required
          />

          <label for="date_of_birth">Date of birth</label>
          <input
            type="date"
            name="date_of_birth"
            id="date_of_birth"
            min="<%= dateUtil.minMaxBirthdate(55) %>"
            max="<%= dateUtil.minMaxBirthdate(18) %>"
            placeholder="Insert birthdate"
            required
          />

          <input type="submit" value="Add" />
        </form>
      </main>

      <%- include('../partials/footer') %>
    </div>
  </body>
</html>
