<!DOCTYPE html>
<html lang="en">
<head>

  <%- include('../partials/head')  %> 
    
</head>
<body>
  <div class="container">
  <header>
    <%- include('../partials/header', {title: 'Edit Trainer'})  %> 
    <p>Form</p>
  </header>      
        
    <%- include('../partials/nav')  %> 
        
      <main>

        <form action="/trainers/update" method="post">

          <h3>Edit Trainer <br>
            #<%= result.id %>
          </h3>

          <label for="first_name">First name</label>
          <input type="text" name="first_name" id="first_name" value="<%= result.firstName %>"><br>

          <label for="last_name">Last name</label>
          <input type="text" name="last_name" id="last_name" value="<%= result.lastName %>"><br>

          <label for="subject">Subject</label>
          <select name="subject" id="subject">
            <option value="0" default>Choose a subject</option>
            <% result.forEach(subject => { %>
              <option value="<%= result.subjects_id %>"> <%= result.details %>  </option>
            <% }) %>
          </select>

          <label for="course">Course</label>
          <select name="course" id="course">
            <option value="0" default>Choose a course</option>
            <% result.forEach(course => { %>
              <option value="<%= result.courses_id %>"> <%= result.description %>  </option>
            <% }) %>
          </select>

          <input type="text" name="id" id="id" value="<%= result.id %>" hidden readonly>

          <input type="submit" value="Update">

        </form>

      </main>
        
      <%- include('../partials/footer')  %> 
        
    </div>
  </body>
</html>
